body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;    
}
div{
    border: rgb(77, 75, 75);
    border-style: dashed;
    border-width: 4px;
}
.title{
    height: 100px;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    font-size: 2.5rem;
    align-content: center;
    text-align: center;
    padding-bottom: 60px;
}
.content-row {
    display: flex;
    justify-content: center; /* centers boxes horizontally */
    align-content: center;/* centers boxes Vertically*/
    gap: 20px; /* space between boxes */
    flex-wrap: wrap; /* let them wrap on smaller screens */
    margin: 20px 0;
}
.Profile, .about-me, .Education,
.Projects, .Software, .Languages, .Contact, .Hobbies {
    display: flex; /* optional if you want internal content alignment */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-bottom: 20px;
}
.Profile{
    height: 360px;
    width: 360px;
    border: solid 5px ;
    border-color: #E6E6FA;
    border-radius: 180px;
}
.about-me{
   height: 240px; 
   width: 480px;
   display: block;
   padding: 50px 25px;
   margin-left: 60px;
   padding-bottom: 60px;
   margin-bottom: 20px;
}
.Education{
    height: 300px;
    width: 360px;
    display: block;
    padding-bottom: 60px;
}
.Projects{
    height: 600px; 
    width: 320px;
    display: block;
    padding: 50px 25px;
    margin-left: 50px;
    padding-bottom: 60px;
    }
.Software{
    height: 150px;
    width: 480px;
}
.Software .icon{
    min-height: 50px;
    min-width: 50px;
    padding: 5px;
    align-content: center;
    justify-content: center;
}
