body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;  
    color: #E6E6FA;  
    background-color: #2F1B4C;
}
div{
    border: 4px dashed rgb(77, 75, 75);
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 2.0rem;
}
.color-palette{
    content: flex;
    align-items: flex-end;
}
.colors{
    width: 60px;
    height: 60px;
    display: block;
}
#color1{ 
    background-color: #0B0B3B;
    border: 1px solid #8686a0;
}
#color2{
    background-color: #2F1B4C;
    border: 1px solid #8686a0;
}
#color3{
    background-color: #5A4E9D;
    border: 1px solid #8686a0;
} 
#color4{
    background-color: #E6E6FA;
    border: 1px solid #8686a0;

}
#color5{ 
    background-color: #CBAACB;
    border: 1px solid #8686a0;

}
#color6{
    background-color: #9671b1;
    border: 1px solid #8686a0;

}
.title{
    height: 200px;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    background-color: #2F1B4C;
    color: #E6E6FAaa;
    align-content: center;
    text-align: center;
    padding-bottom: 60px;
}
.title h3{
    font-size: 2.0rem;
}
.content-row {
    display: flex;
    justify-content: center; /* centers boxes horizontally */
    align-content: center;/* centers boxes Vertically*/
    gap: 20px; /* space between boxes */
    flex-wrap: wrap; /* let them wrap on smaller screens */
    margin: 20px 0;
}
.profile, .about-me, .Education,
.project-card, .Software, .Languages, .Contact {
    display: flex; /* optional if you want internal content alignment */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 20px 30px;
    border: solid 5px #E6E6FAaa;

}
.profile{
    height: 360px;
    width: 360px;
    background-color: #8686a0;
    border-radius: 180px;
}
.about-me{
   height: 360px; 
   width: 700px;
   display: block;
   margin-left: 60px;
   margin-bottom: 20px;
   border-radius: 30px;
}
.Education{
    height: 300px;
    width: 480px;
    display: block;
}
.Projects{
    height: 600px; 
    padding: 50px 25px;
    margin-left: 50px;
    }
.skills{
    width: 480px;
    display: block;
}
.skills .Software ul{
    list-style: none;
}
.skills .Languages ul{
    list-style: none;
}
.project-card{
    height: 480px;
    width: 360px;
    border-radius: 15px;
}
.project-card img{
    width: 300px;
    height: 240px;
    border: rgb(77, 75, 75);
    border-style: dashed;
    border-width: 4px;
}
.Software{
    height: 100px;
    width: 360px;
}
.Software .icon{
    min-height: 50px;
    min-width: 50px;
    padding: 5px;
    align-content: center;
    justify-content: center;
}
